@font-face{
    font-family: 'champagne';
    src: url('../font/Champagne & Limousines.ttf');
}

@font-face{
    font-family: 'champagne_bold';
    src: url('../font/Champagne & Limousines Bold.ttf');
}

