

// Color Variables

$black : #000;
$ebb: #e9e3e2;
$jumbo: #7b7b7c;

// Fonts Assets

$sans-serif : sans-serif;
$champagne_normal : "champagne", $sans-serif;
$champagne_bold : "champagne_bold", $sans-serif;

// Images path asscets

$logo : ('/img')