/* =====================
FOOTER
======================= */

#main-footer {
	@include margin-padding(0, 0);
	
	& p {
		font-size: .6em;
		color: $goldenbar;

		padding: 5em 0;
		margin: 0;

		@media #{$desktop-breakpoint}{
			font-size: 1em;
			padding: 2em 0;
		}
	}
}