// MORE PHOTOS BUTTON 

.more-photos {
	margin: 0;
	padding: 1em 0;

}

a.more-btn {
	color: $goldenbar;
	background-color: $blacksheep;

	margin: 0 auto;
	padding:  10px 30px;

	border-radius: 15px;

	font-family: 'Cambria';
	text-transform: uppercase;

}