/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   body{
    font-style: "Georgia", serif;
   }
/* ---- HEADER ---- */
#header {
    overflow: hidden;
    background: url("../img/bg_portfolio.png");
   /* height: 420px; */
}
.logo {
    padding-top: 50px;
}
    .logo h1{
        background: url('../img/logo_johnDoe.png') no-repeat 0 0;
        width: 301px;
        height: 18px;
        margin: 0;
        padding: 0;
    }

    .logo a{
        display: block;
        overflow: hidden;
        text-indent: -999px;
    }

.follow_me {
    margin: 0;
    padding-top: 50px;
}

    .follow_me a{
        padding-right: 10px;
    }

/* ---- BANNER ---- */
#banner {
    padding-top: 65px;
    margin: 0;
}
    
    #banner img{
        width: 948px;
        height: 415px;
    }

/* ---- INTRODUCTION ---- */
#introduction{
    margin: 0;
    padding-top: 60px;
    font-family: "Georgia" serif;
    color: #444343;
}
    .short_intro{
        text-align: center;
    }
        .short_intro p{
            font-size: 24px;
            margin: 0;
        }
        .short_intro h1{
            font-size: 60px;
            margin: 0;
            font-weight: 400;
        }

#my_services{
    
}
    .category{
        margin: 70px 0;
        padding: 0 10px;
        text-align: justify;
    }
        .category img{
            float:left;
            margin-right: 10px;
            padding-top: 5px;
        }
        .category h3{
            font-size: 22px;
            margin: 0;
            padding: 0 15px;
        }
        .category p{
            font-size: 14px;
            padding: 0 15px;
        }

/* ---- PORTFOLIO ---- */

#portfolio {
    background: url("../img/bg_portfolio.png");
    padding-top: 80px;
    margin: 0;
}
        /*.left_thumbnails {
            padding: 10px;
        }*/
        .left_thumbnails img{
            float: left;
            /*width: 228px;
            height: 193px;*/
            max-width: 100%;
            height: auto;
            width: auto\9
        }

    .right-thumbnails{
        padding : 0;
        margin: 0;
        float:left;
    }
        .right-thumbnails img {
            padding : 0;
            margin: 0;
        }

/* ---- CONTACTS ---- */
#contact_us{
    font-size: 16px;
    padding-top: 50px;
}

.user_info{
    font-family: "Georgia" serif;
}
    .usr_txbx input{
        width: 460px;
        height: 50px;
        margin-bottom: 15px; 
        border-radius: 5px;
        border: solid 1px #dadada;    
        padding-left: 10px;
        padding-top: 10px;
        color: #878787; 
        font-size: 16px;
        outline: none;
        font-style: italic;
        background-color: #ebebeb ;
    }
    .user_info textarea {
        width: 460px;
        height: 160px;
        resize: none;
        border-radius: 5px;
        border: solid 1px #dadada;    
        padding-left: 10px;
        padding-top: 10px;
        outline: none;
        color: #878787; 
        font-size: 16px;
        font-style: italic;
        background-color: #ebebeb ;
    }
    .usr_submit input{
        font-size: 18px;
        background: url('../img/icons/submit_bg.png') no-repeat 0 0;
        width: 135px;
        height: 56px;
        margin: 30px 0;
        border: #fff solid 1px;
        background-color: #ebebeb ;
        color: #7f7f7f;
    }

.author_info{

}

    .author_info img{
        float: left;
        padding: 0;
        margin-right: 10px;
    }
    .author_info h3{
        font-size: 16px;
        margin: 0;
        padding: 0;
    }
    .author_info p{
        font-size: 14px;
    }

.author_contact{
    padding: 20px;
    margin: 0;
    font-style: italic;
}
    .author_contact a {
        font-style: italic;
        text-decoration: none;
        color: #878787;

    }
    .follow p {
        float: left;
        padding:0;
        margin: 0;
    }
    .follow ul {
        float: left;
        padding:0;
        margin: 0;
    }
    .follow ul li{
        padding-right: 10px;
        list-style-type: none;
        float: left;

    }

/* ---- FOOTER ---- */

#footnote{
    padding: 0;
    margin: 0;
}

#footnote .follow_me{
    padding: 0;
}

#footnote p{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-style: italic;
}







/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}